name: CI

on:
  push:
    branches:
      - main
      - documentation-draft

  # Ensure that the rendering workflow is executed after the exception-codes workflow has been executed.
  workflow_run:
    workflows: [exception-codes]
    branches: [main]
    types:
      - completed

  # Allow manual triggering of this workflow
  workflow_dispatch:

jobs:
  use-docker-container:
    runs-on: ubuntu-latest
    if: ${{ (github.event_name == 'push') || ((github.event_name == 'workflow_run') && (github.event.workflow_run.conclusion == 'success')) }}
    strategy:
      matrix:
        # online, offline
        mode: [ 'online' ]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: List last 10 commits
        shell: bash
        run: |
          git log -n 10 --oneline

      - name: Prepare jobfile
        run: |
          mkdir -p Documentation-GENERATED-temp
          if [[ "${{ matrix.mode }}" = "offline" ]]; then
            echo '{"Overrides_cfg":{"html_theme_options":{"docstypo3org":""}}}' > Documentation-GENERATED-temp/jobfile.json
          fi
          if [[ "${{ matrix.mode }}" = "online" ]]; then
            echo '{"Overrides_cfg":{"html_theme_options":{"docstypo3org":"yes"}}}' > Documentation-GENERATED-temp/jobfile.json
          fi

      - name: docker run
        run: |
          docker run --rm --user=$(id -u):$(id -g) \
            -v $(pwd):/PROJECT:ro \
            -v $(pwd)/Documentation-GENERATED-temp:/RESULT \
            ghcr.io/t3docs/render-documentation makehtml-no-cache \
              -c make_singlehtml 1 \
              -c replace_static_in_html 1 \
              -c jobfile /RESULT/jobfile.json

      - name: SCP files to production system
        uses: appleboy/scp-action@master
        # Transfer the documentation to the production server only on main branch builds
        if: ${{ github.ref == 'main' }}
        with:
          host: ${{ secrets.DEPLOY_DOCS_HOST }}
          username: ${{ secrets.DEPLOY_DOCS_USERNAME }}
          key: ${{ secrets.DEPLOY_KEY }}
          source: "Documentation-GENERATED-temp/Result/project/0.0.0/*"
          rm: true
          strip_components: 4
          tar_tmp_path: ${{ secrets.TMP_TARGET_PATH }}
          target: ${{ secrets.TARGET_PATH }}
